@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Catamaran", sans-serif;
  color: #8a94a6;
}
body {
  background-image: linear-gradient(#65c8d0, #838bc5);
}
.logo {
  padding: 20px 20px;
  cursor: pointer;
}
.container-1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-box {
  border: 5px solid #65c8d0;
  width: 600px;
  height: 500px;
  border-radius: 15px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.8);
}
.black-box p {
  margin-top: 20px;
  text-align: center;
  font-weight: 200;
  font-size: 36px;
}
.black-box h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 112px;
  text-align: center;
}
.black-box h2 {
  font-weight: 200;
  font-size: 35px;
  text-align: center;
}
.circle {
  text-align: center;
  margin-top: 15px;
  width: 125px;
  height: 125px;
  background-color: #838bc5;
  border-radius: 300px;
  margin-right: 8px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time div p {
  font-size: 60px;
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  margin-bottom: -20px;
  color: white;
}
.time div span {
  color: white;
}
.image {
  width: 100%;
  display: flex;
  justify-content: center;
}
